.dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    max-width: 500px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 15px black;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 100%;
    gap: 10px;
    text-align: left;
    margin-top: 5px;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.inpt_end{
    padding: 5px;
}

.btn_fechar{
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.btn_finalizar{
    padding: 5px;
    background-color: #54CC0A;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.btn_fechar:hover{
    cursor: pointer;
}

.btn_finalizar:hover{
    cursor: pointer;
}

.cart_itens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}