.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #F6F7F8;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
}
.menu_box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    width: 95%;
    text-align: left;
    margin-bottom: calc(8vh + 15px);
}

@media screen and (min-width: 768px) {
    .menu_box{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .menu{
        margin-bottom: 0;
    }

    .title{
        font-size: large;
    }
}