.menu{
    height: fit-content;
    background-color: #F6F7F8;
    margin-bottom: calc(8vh + 15px);
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
}
.menu_box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
    text-align: left;
}